# ==========================================
# Paper Broker FIX Client Configuration
# ==========================================
# Credentials
PAPER_ACCOUNT_ID_D1=D1
PAPER_USERNAME=BL01
PAPER_PASSWORD=<YOUR_PAPER_PASSWORD>

# REST API
PAPER_REST_BASE_URL=http://localhost:9090

# FIX Socket Connection
SOCKET_HOST=localhost
SOCKET_PORT=5001
SENDER_COMP_ID=cross-FIX
TARGET_COMP_ID=SERVER

# ==========================================
# Kafka Market Data Client Configuration
# ==========================================
# Connection details
PAPERBROKER_KAFKA_BOOTSTRAP_SERVERS=<YOUR_KAFKA_BROKER_URL:PORT>
PAPERBROKER_KAFKA_USERNAME=<YOUR_KAFKA_USERNAME>
PAPERBROKER_KAFKA_PASSWORD=<YOUR_KAFKA_PASSWORD>

# Environment Identifier (Optional but used in the code)
ENV_ID=DEFAULT